/* Variables */
:root {
  --main-color: #fe6866;
  --main-color-degraded: rgba(254, 104, 102, 0.8);
  --white-color: #ffffff;
  --border-color: #b2b1b6;
  --background-color: #efefef47;
  --shadow: 0 1px 6px 0 #20212447;
  --shadow-movie: 0 0.1em 0.4em 0 rgba(32, 33, 36, 0.6);
}
/* Globals */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}
figure,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.grid {
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr);
  grid-template-areas:
    ". list-movie list-movie list-movie"
    ". list-movie list-movie list-movie"
    ". list-movie list-movie list-movie";
}
/* --- Menu Option --- */
.menu-option {
  background: linear-gradient(
    90deg,
    rgba(252, 103, 102, 1) 0%,
    rgba(255, 141, 118, 1) 100%
  );
  z-index: 1;
  height: 100vh;
  width: calc(100vw * 0.10);
  position: fixed;
  padding-top: 4.2rem;
  transition: .3s;
}
.nav-option{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr 1fr;
  gap: 1rem;
  height: calc(100vh - 4.2rem);
  padding: 1em;
}
.option-item{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
  color: var(--white-color);
  font-size: 1em;
}
.option-wrapper{
  width: 50px;
}
.option-wrapper img{
  width: 100%;
}
.option-item span{
  display: inline-block;
  text-align: center;
}